/* Estilos Generales */
body {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #31704c;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.header img {
    height: 100px;
    margin-right: 20px;
}

.header-text h1 {
    margin: 0;
    font-size: 24px;
}

.header-text h2 {
    margin: 0;
    font-size: 18px;
    color: #DAF7A6;
}

/* Contenedor principal */
.main-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sección 1 */
.section-1 {
    background-color: #eeeeee;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    width: 60%; /* Ajusta el ancho */
    margin-bottom: 20px;
}

/* Botones de Dependencias */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.dep-button {
    background-color: #31704c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 200px;
    margin: 10px;
    text-align: center;
}

/* Botón de Salir */
.exit-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.exit-button {
    background-color: #31704c;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

/* Línea inferior */
.footer {
    background-color: #DAF7A6;
    color: black;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
}
